<template>
	<div v-html="embed">
	</div>
</template>

<script lang="ts">
	import Vue from 'vue'

	export default Vue.extend({
		props: {
			embed: {
				type: String,
				required: true
			},
		},	
	})
</script>

<style lang="scss" scoped>
	
</style>