<template>
	<div class="image-wrapper">
		<img v-for="(image, i) in images" :key="i" :src="image">
	</div>
</template>

<script lang="ts">
	import Vue from 'vue'

	export default Vue.extend({
		name: 'ImageMedia',
		props: {
			images: {
				type: Array,
				required: true,
			},
		},
	})
</script>

<style lang="scss" scoped>
	
</style>