<template>
	<div class="post  d-inline-flex flex-column">

		<div class="
			post-title
			d-flex
			flex-row
			align-items-center
			justify-content-between
		">
			<img
				src='https://placehold.it/50x50'
				alt=''
				width="50" height="50"
			/>

			<router-link :to="'/'+userData.username">
				@{{userData.username}}
			</router-link>
			
			<small>
				{{
					timestamps.updatedAt?
					timestamps.updatedAt:
					timestamps.createdAt | postedSince
				}}
			</small>

		</div>

		<div class="post-card flex-column">
			<span>{{content.text}}</span>

			<EmbedMedia v-if="type==TYPES.EMBED" :embed="content.media"/>

			<ImageMedia v-if="type==TYPES.IMAGE" :images="content.media"/>
		</div>

		<hr>

		<div class="post-footer flex-row">

		</div>

	</div>
</template>

<script lang="ts">
	import Vue from 'vue';
	import {state} from '@/store/state';
	import moment from 'moment';
	
	import EmbedMedia from '@/components/PostCard/EmbedMedia.vue';
	import ImageMedia from '@/components/PostCard/ImageMedia.vue';

	export default Vue.extend({
		name: 'PostCard',

		data() {
			return {
				TYPES: state.TYPES
			}
		},

		props: {
			localization: {
				type: String,
				default: 'tr',
				required: true,
				validator(value){
					try {
						require(`moment/locale/${value}`); 
						moment.locale(value);
						return true;
					}
					catch(err) {
						require(`moment/locale/tr`); 
						moment.locale('tr');
						return false;
						throw new Error("Invalid 'localization' prop value. 'tr' is set as default.");
					}
				}
			},

			type: {
				type: String,
				default: state.TYPES.TEXT_ONLY,
				validator(value){
					return Object.values(state.TYPES).indexOf(value) != -1;
				}
			},

			userData: {
				type: Object,
				required: true,
			},

			timestamps: {
				type: Object,
				required: true,
				validator(value){
					if(
						value.hasOwnProperty('createdAt') &&
						value.hasOwnProperty('updatedAt')
					)
						return true;
					else{
						throw new Error("'timestamps' prop hasn't 'createdAt' and 'updatedAt' prop");
						return false;
					}
				}
			},

			content: {
				type: Object,
				required: true,
			},
		},

		filters: {
			postedSince(value: Date): String {
				return moment(value).startOf('second').fromNow();
			}
		},

		components: {
			EmbedMedia,
			ImageMedia
		},
	})
</script>

<style lang="scss" scoped>
	.post{
		margin: 20px;
		padding: 20px;

		width: 500px;
		height: fit-content;
		
		border-radius: $radii-soft;
		box-shadow: $box-shadow;
		background-color: $ebony-clay;

		hr{
			width: 100%;
			color: $text-dim;
			border-radius: $radii-full;
		}

		&-title{
			font-size: .8em;
			color: $text-normal;
			font-weight: bold;
			text-align: center;

			img{
				margin: 0 10px;
				border-radius: $radii-half;
			}

			a{
				color: $white;
				text-decoration: none;
				text-align: left;
				flex-grow: 3;
				line-height: 1.3em;
				margin-right: 20px;
			}

			small{
				flex-grow: 2;
				color: $text-dim;
				line-height: 1.7em;
			}
		}

		&-card{
			margin-top: 20px;
			font-size: .8em;
			color: $white;
			max-width: 100%;

			span{
				max-width: 100%;
				margin: 5px 0;
				line-height: 1.4em;
				word-wrap: break-word;

				::selection{
					background-color: $mariner;
				}
			}

			div{
				margin-top: 15px;
				margin-bottom: 15px;
			}
		}

		&-footer{

		}
	}
</style>