<template>
	<div id="wrapper">
		<h1>Login</h1>
		<form 
			@submit.prevent="checkUserLogin(username, hashedPass)"
			method="POST"
			accept-charset="UTF-8"
		>
		
			<label for="username">Kullanıcı Adı:</label>
			<input 
				type="text"
				autocomplete="username"
				name="username"
				id="username"
				maxlength="36"
				v-model="username"
				@keypress.enter="checkUserLogin(username, hashedPass)"
			>

			<label for="pass">Şifre:</label>
			<input 
				type="password"
				autocomplete="current-password"
				name="pass"
				id="pass"
				maxlength="24"
				v-model="hashedPass"
				@keypress.enter="checkUserLogin(username, hashedPass)"
			>

			<div id="errorText" v-show="isErrorShowed">{{errorText}}</div>

			<button type="submit">Giriş Yap</button>
		
		</form>
	</div>
</template>

<script>
	import { mapState, mapActions } from 'vuex';

	export default {
		name: 'Login',

		metaInfo: {
			title: 'Login',
			titleTemplate: '%s | Kartaca Çekirdekten Yetişenler'
		},

		data() {
			return {
				username: "",
				password: "",
				errorText: "",
				isErrorShowed: false,
			}
		},

		computed: {
			// TODO:  Password hash
			hashedPass: {
				get(){
					return this.password;
				},
				set(value){
					this.password = value;
				}
			}
		},

		methods: {
			...mapActions(['checkUserLogin']),
		},
	}
</script>

<style lang="scss">
	#wrapper{
		margin-left: auto;
		margin-right: auto;
		margin-top: 100px;
		width: 500px;
		height: auto;
		border-radius: $radii-half;
		background-color: $white;
		padding: 50px;

		h1 {
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}
		
		form {
			width: 100%;

			label {
				font-weight: bold	;
				display: block;
				padding-top: 10px;
				padding-bottom: 10px;
			}

			input {
				width: 100%;
				padding: 10px 20px;
				margin-bottom: 15px;

				border: 3px solid $border;
				font-size: 20pt;
				border-radius: $radii-half;
				transition: .3s all;

				font-weight: bold;

				&:focus{
					transition: .3s all;
					box-shadow: 0px 1px 7px $border;
					transform: translateY(-1px);
				}
			}

			button{
				width: 100%;
				padding: 10px 20px;
				margin-top: 15px;
				
				border: 3px solid $border;
				border-radius: $radii-full;

				font-size: 20px;
				font-family: inherit;
				font-weight: bold;
				color: $white;
				
				background-color: $red;
				border-color: $border;
				
				box-shadow: 0 5px 10px $border;
				transition: .3s all;

				&:hover{
					transition: .3s all;
					background-color: $border;
					cursor: pointer;
					box-shadow: 0 10px 20px $border;
					transform: translateY(-5px);
					color: $black;
				}

				&:focus{
					outline: none;
				}
			}
		}

		#errorText{
			margin-bottom: 10px;
			margin-left: 10px;

			color: $red;
			font-weight: bold;

			&::selection{
				background-color: $red;
				color: $white;
			}
		}
	}

	@media screen and (max-width: 768px){
		#wrapper{
			width: 400px;
		}
	}

	@media screen and (max-width: 600px) {
		#wrapper{
			width: 300px;
		}
	}

	@media screen and (max-width: 480px) {
		#wrapper{
			width: 200px;
		}
	}
</style>