<template>
	<div class="d-flex mx-auto flex-column">
		<PostCard
			:v-for="post in posts | ByUsername"
			localization="tr"
			:type="post.type"
			:userData="post.UserData"
			:timestamps="post.timestamps"
			:content="post.content"
		/>
	</div>
</template>

<script lang="ts">
	import Vue from 'vue';
	import {state} from '@/store/state'

	import PostCard from '@/components/PostCard/Main.vue';
	import EmbedMedia from '@/components/PostCard/EmbedMedia.vue';
	import ImageMedia from '@/components/PostCard/ImageMedia.vue';
	import { mapFilters } from '../lib/filters';

	enum TYPES{
		TEXT_ONLY,
		EMBED,
		IMAGE
	}

	type Post = {
		type: TYPES,
		UserData: {
			Username: String
		},
		timestamps: {
			createdAt: Date,
			updatedAt: Date
		},
		content: {
			text: String,
			media: String
		}
	}

	enum PostFilterType{
		BY_USERNAME = 'ByUsername',
		BY_POST_DATE = 'ByPostDate',
	}

	export default Vue.extend({
		name: 'Dashboard',
		
		metaInfo: {
			title: 'Dashboard',
			titleTemplate: '%s | Kartaca Çekirdekten Yetişenler'
		},

		data() {
			return {
				posts: [
					{
						type: state.TYPES.EMBED,
						userData: {
							username: 'mahmut_yilmaz'
						},
						timestamps: {
							createdAt: new Date(),
							updatedAt: ''
						},
						content: {
							text: 'Mahmut Ağaçtan ağaca atlıyor',
							media: `<iframe
								width="${460}"
								height="${260}"
								src="https://www.youtube.com/embed/LXb3EKWsInQ"
								frameborder="0"
								allow="accelerometer";
								autoplay="false";
								encrypted-media; 
								gyroscope;
								picture-in-picture"
								allowfullscreen
							></iframe>`
						}
					},

					{
						type: state.TYPES.IMAGE,
						userData: {
							username: 'mahmut_yilmaz'
						},
						timestamps: {
							createdAt: new Date().setMinutes(new Date().getMinutes() - 5),
							updatedAt: ''
						},
						content: {
							text: 'Mahmut in ağaçtan',
							media: [
								'http://fakeimg.pl/200x150',
								'http://fakeimg.pl/200x150'
							]
						}
					},

					{
						type: state.TYPES.TEXT_ONLY,
						userData: {
							username: 'mahmut_yilmaz'
						},
						timestamps: {
							createdAt: new Date().setDate(new Date().getDate() - 2),
							updatedAt: ''
						},
						content: {
							text: 'Mahmut in ağaçtan',
						}
					}
				],
			}
		},

		filters: {
			ByUsername(value: Array<Post>): Array<Post> {
				return value.filter(
					post => post.UserData.Username == this.$route.params.Username
				);
			}
		},

		components: {
			PostCard,
			ImageMedia,
			EmbedMedia
		},
	})
</script>

<style lang="scss" scoped>
	div{
		width: fit-content;
	}
</style>