<template>
	<div id="app">
		<router-view/>
	</div>
</template>

<style lang="scss">
	body{
		font-family: 'Quicksand', sans-serif;
		font-size: 18pt;
		background-color: $mirage;

		input{
			font-family: inherit;

			&:focus{
				outline: none;
			}
		}
	}
</style>
