$mirage: #1D2331;
$ebony-clay: #283042;

$navy-blue: #18056E;
$royal-blue :#463CF5;
$pelorous: #40B5BC;
$mariner: #1f52e0;
$purple-heart: #4D23C3;
$black-pearl: #071D28;

$white: #bfbed8;
$black: #303030;
$border: #8a8a8a85;
$red: #ff4c4c;

$text-normal: #e4e4e4;
$text-dim: #a8a8a8;